body {
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #666;
    text-align: center;
    padding: 15px;
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

nav{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #888;
    padding: 25px;
}
article{
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #ccc;
    padding: 25px;
}

section{
    display: -webkit-flex;
    display: flex;
}
@media (max-width:600px){
    section{
        -webkit-flex-direction: column;
        flex-direction: column;
}
}